name: Build APK - El Mariano

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04    # <-- IMPORTANTE: no ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build APK with Buildozer
        uses: digreatbrian/buildozer-action@v2
        with:
          python-version: 3.8
          buildozer-cmd: buildozer -v android debug

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: el-mariano-apk
          path: ./bin/*.apk
