name: Build APK - El Mariano

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Build APK using official Buildozer Docker image
      run: |
        docker run --rm -v ${{ github.workspace }}:/build \
        kivy/buildozer:latest \
        buildozer -v android debug

    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: el-mariano-apk
        path: bin/*.apk
