name: Build APK - El Mariano

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install docker
        run: |
          sudo apt-get update
          sudo apt-get install -y docker.io

      - name: Build with Buildozer (Docker)
        run: |
          docker run --rm -v ${{ github.workspace }}:/app \
            kivy/buildozer \
            buildozer android debug

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: el-mariano-apk
          path: bin/*.apk
