name: Build APK - El Mariano

on:
  push:
    branches: [ main ]
    paths:
      - '**.py'
      - 'buildozer.spec'
      - '.github/workflows/Build.yml'

jobs:
  build:
    runs-on: ubuntu-20.04

    env:
      ANDROIDSDK: /home/runner/.buildozer/android/platform/android-sdk
      ANDROIDNDK: /home/runner/.buildozer/android/platform/android-ndk
      ANDROIDAPI: "33"
      ANDROIDMINAPI: "21"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            git \
            zip \
            unzip \
            openjdk-11-jdk \
            libncurses5 \
            libstdc++6 \
            libffi-dev \
            libssl-dev \
            libsqlite3-dev

      - name: Install Buildozer
        run: |
          python -m pip install --upgrade pip
          pip install buildozer cython==0.29.36

      - name: Build debug APK with Buildozer
        run: |
          yes | buildozer android debug
